body {
    background-color: #20232a;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, 'sans-serif';
}

.app__title {
    border: 2px solid #61dafb;
    padding: 30px;
    color: #fff;
    text-transform: uppercase;
}